@page "/hotel/room-details/{Id:int}"
@inject ILocalStorageService _localStorage
@inject IJSRuntime _jsRuntime
@inject IHotelRoomService _hotelRoomService
@inject IStripePaymentService _stripePaymentService
@inject IRoomOrderDetailService _roomOrderDetailService
@attribute [Authorize(Roles = SD.RoleCustomer)]

@if (HotelBooking?.OrderDetail?.HotelRoomDto?.HotelRoomImages == null)
{
    <div class="spinner"></div>

}
else
{
    <div class="mt-4 mx-4 px-0 px-md-5 mx-md-5">

        <div class="row p-2 my-3 " style="border-radius:20px; ">
            <div class="col-12 col-lg-7 p-4" style="border: 1px solid #fff">
                <div class="row px-2 text-success border-bottom">
                    <div class="col-8 py-1"><p style="font-size:x-large;margin:0px;">Selected Room</p></div>
                    <div class="col-4 p-0"><a href="hotel/rooms" class="btn btn-secondary d-block">Back to Room's</a></div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div id="" class="carousel slide mb-4 m-md-3 m-0 pt-3 pt-md-0" data-ride="carousel">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    @{
                                        int imageIndex = 0;
                                        int innerImageIndex = 0;
                                    }
                                    @foreach (var image in HotelBooking.OrderDetail.HotelRoomDto.HotelRoomImages)
                                    {
                                        if (imageIndex == 0)
                                        {
                                            <li data-target="#carouselExampleIndicators" data-slide-to="@imageIndex" class="active"></li>
                                        }
                                        else
                                        {
                                            <li data-target="#carouselExampleIndicators" data-slide-to="@imageIndex"></li>
                                        }
                                        imageIndex++;
                                    }
                                </ol>
                                <div class="carousel-inner">
                                    @foreach (var image in HotelBooking.OrderDetail.HotelRoomDto.HotelRoomImages)
                                    {
                                        if (innerImageIndex == 0)
                                        {
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" style="border-radius: 20px;" src="@image.RoomImageUrl" alt="First slide">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item">
                                                <img class="d-block w-100" style="border-radius: 20px;" src="@image.RoomImageUrl" alt="First slide">
                                            </div>
                                        }
                                        innerImageIndex++;
                                    }
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <span class="float-end pt-4">
                            <span class="float-end">Max Occupancy : @HotelBooking.OrderDetail.HotelRoomDto.Occupancy adults </span><br />
                            <span class="float-end pt-1">Villa Size : @HotelBooking.OrderDetail.HotelRoomDto.SqFt sqft</span><br />
                            <h4 class="text-warning font-weight-bold pt-5 pl-5">
                                ZAR
                                <span style="border-bottom:1px solid #ff6a00">
                                    @HotelBooking.OrderDetail.HotelRoomDto.TotalAmount.ToString("#,#.00#;(#,#.00)")
                                </span>
                            </h4>
                            <span class="float-end">Cost for @HotelBooking.OrderDetail.HotelRoomDto.TotalDays nights</span>
                        </span>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-12">
                        <p class="card-title text-warning" style="font-size:xx-large">@HotelBooking.OrderDetail.HotelRoomDto.Name</p>
                        <p class="card-text" style="font-size:large">
                            @((MarkupString)HotelBooking.OrderDetail.HotelRoomDto.Details)
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-5 p-4 2 mt-4 mt-md-0" style="border: 1px solid #fff;">
                <EditForm Model="HotelBooking" class="container" OnValidSubmit="HandleCheckout">


                    <div class="row px-2 text-success border-bottom"><div class="col-7 py-1"><p style="font-size:x-large;margin:0px;">Enter Details</p></div></div>

                    <div class="form-group pt-2">
                        <label class="text-warning">Name</label>
                        <InputText @bind-Value="HotelBooking.OrderDetail.Name" type="text" class="form-control" />
                    </div>
                    <div class="form-group pt-2">
                        <label class="text-warning">Phone</label>
                        <InputText @bind-Value="HotelBooking.OrderDetail.PhoneNo" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="text-warning">Email</label>
                        <InputText @bind-Value="HotelBooking.OrderDetail.Email" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="text-warning">Check in Date</label>
                        <InputDate @bind-Value="HotelBooking.OrderDetail.CheckInDate" type="date" disabled class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="text-warning">Check Out Date</label>
                        <InputDate @bind-Value="HotelBooking.OrderDetail.CheckOutDate" type="date" disabled class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="text-warning">No. of nights</label>
                        <select class="form-control" value="@NoOfNights" @onchange="HandleNoOfNightsChange">
                            @for (var i = 1; i <= 10; i++)
                            {
                                if (i == NoOfNights)
                                {
                                    <option value="@i" selected="selected">@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>&nbsp;</label>
                        @if (HotelBooking.OrderDetail.HotelRoomDto.IsBooked)
                        {
                            <button disabled class="btn btn-secondary form-control">Sold Out</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success form-control">Checkout Now</button>
                        }
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}


@code {

    [Parameter]
    public int? Id { get; set; }

    public HotelRoomBookingViewModel HotelBooking { get; set; } = new();
    private int NoOfNights { get; set; } = 1;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            HotelBooking.OrderDetail = new RoomOrderDetailDto();

            if (Id != null)
            {
                if (await _localStorage.GetItemAsync<HomeViewModel>(SD.LocalInitialBooking) != null)
                {
                    var roomInitialInfo = await _localStorage.GetItemAsync<HomeViewModel>(SD.LocalInitialBooking);
                    HotelBooking.OrderDetail.HotelRoomDto = await _hotelRoomService.GetHotelRoomDetails(Id.Value, roomInitialInfo.StartDate.ToString("yyyy/MM/dd"), roomInitialInfo.EndDate.ToString("yyyy/MM/dd"));
                    NoOfNights = roomInitialInfo.NoOfNights;
                    HotelBooking.OrderDetail.CheckInDate = roomInitialInfo.StartDate;
                    HotelBooking.OrderDetail.CheckOutDate = roomInitialInfo.EndDate;
                    HotelBooking.OrderDetail.HotelRoomDto.TotalDays = roomInitialInfo.NoOfNights;
                    HotelBooking.OrderDetail.HotelRoomDto.TotalAmount = roomInitialInfo.NoOfNights * HotelBooking.OrderDetail.HotelRoomDto.RegularRate;
                }
                else
                {
                    var roomInitialInfo = await _localStorage.GetItemAsync<HomeViewModel>(SD.LocalInitialBooking);
                    HotelBooking.OrderDetail.HotelRoomDto = await _hotelRoomService.GetHotelRoomDetails(Id.Value, DateTime.Now.ToString("yyyy/MM/dd"), DateTime.Now.AddDays(1).ToString("yyyy/MM/dd"));
                    NoOfNights = 1;
                    HotelBooking.OrderDetail.CheckInDate = DateTime.Now;
                    HotelBooking.OrderDetail.CheckOutDate = DateTime.Now.AddDays(1);
                    HotelBooking.OrderDetail.HotelRoomDto.TotalDays = 1;
                    HotelBooking.OrderDetail.HotelRoomDto.TotalAmount = HotelBooking.OrderDetail.HotelRoomDto.RegularRate;
                }
            }

            var userInfo = await _localStorage.GetItemAsync<UserDto>(SD.LocalUserDetails);

            if (userInfo != null)
            {
                HotelBooking.OrderDetail.UserId = userInfo.Id;
                HotelBooking.OrderDetail.Name = userInfo.Name;
                HotelBooking.OrderDetail.Email = userInfo.Email;
                HotelBooking.OrderDetail.PhoneNo = userInfo.PhoneNo;
            }
        }
        catch (Exception ex)
        {
            await _jsRuntime.ToastrError(ex.Message);
        }
    }

    private async Task HandleNoOfNightsChange(ChangeEventArgs e)
    {
        NoOfNights = Convert.ToInt32(e.Value.ToString());
        HotelBooking.OrderDetail.HotelRoomDto = await _hotelRoomService.GetHotelRoomDetails(Id.Value,
            HotelBooking.OrderDetail.CheckInDate.ToString("yyyy/MM/dd"),
            HotelBooking.OrderDetail.CheckInDate.AddDays(NoOfNights).ToString("yyyy/MM/dd"));

        HotelBooking.OrderDetail.CheckOutDate = HotelBooking.OrderDetail.CheckInDate.AddDays(NoOfNights);
        HotelBooking.OrderDetail.HotelRoomDto.TotalDays = NoOfNights;
        HotelBooking.OrderDetail.HotelRoomDto.TotalAmount = NoOfNights * HotelBooking.OrderDetail.HotelRoomDto.RegularRate;
    }

    private async Task HandleCheckout()
    {
        if (!await HandleValidation())
        {
            return;
        }

        try
        {
            var paymentDto = new StripePaymentDto
            {
                Amount = Convert.ToInt32(HotelBooking.OrderDetail.HotelRoomDto.TotalAmount * 100),
                ProductName = HotelBooking.OrderDetail.HotelRoomDto.Name,
                ReturnUrl = $"/hotel/room-details/{Id}"
            };

            var result = await _stripePaymentService.CheckOut(paymentDto);
            HotelBooking.OrderDetail.StripeSessionId = result.Data.ToString();
            HotelBooking.OrderDetail.RoomId = HotelBooking.OrderDetail.HotelRoomDto.Id;
            HotelBooking.OrderDetail.TotalCost = HotelBooking.OrderDetail.HotelRoomDto.TotalAmount;

            var roomOrderDetailSaved = await _roomOrderDetailService.SaveRoomOrderDetail(HotelBooking.OrderDetail);
            await _localStorage.SetItemAsync(SD.LocalRoomOrderDetail, roomOrderDetailSaved);

            await _jsRuntime.InvokeVoidAsync("redirectToCheckout", result.Data.ToString());
        }
        catch (Exception ex)
        {
            await _jsRuntime.ToastrError(ex.Message);
        }
    }

    private async Task<bool> HandleValidation()
    {
        return true;
        if (string.IsNullOrEmpty(HotelBooking.OrderDetail.Name))
        {
            await _jsRuntime.ToastrError("Name cannot be empty");
            return false;
        }

        if (string.IsNullOrEmpty(HotelBooking.OrderDetail.PhoneNo))
        {
            await _jsRuntime.ToastrError("Phone cannot be phone");
            return false;
        }

        if (string.IsNullOrEmpty(HotelBooking.OrderDetail.Email))
        {
            await _jsRuntime.ToastrError("Email cannot be email");
            return false;
        }

        return true;
    }

}
